html {
    height: 100%;
}

body {
    background-image: url(../img/index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.blurBg{
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
 
.form-text{
    color: white;
}
.msgR{
    -webkit-filter: drop-shadow(12px 12px 7px rgba(255, 225, 230, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(255, 225, 230, 0.7));
}
.msgB{
    -webkit-filter: drop-shadow(12px 12px 7px rgba(225, 245, 255, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(225, 245, 255, 0.7));
}